<!DOCTYPE html>
<html>
<head>
  <title>ProductivityRPG</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul>
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <li>
          <%= error %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
